{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "minify": true,
  "jsc": {
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  }
}
